---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FormularioProducto from "../components/FormularioProducto.astro";
---

<Layout title="Administrador">
    <Header />
    <main class="bg-[#EFE9E3] min-h-screen pt-32 pb-20">
        <FormularioProducto />
    </main>
</Layout>