<div class="relative h-screen overflow-hidden">
    <img
        class="absolute inset-0 w-full h-full object-cover"
        src="../assets/img/footer.jpg"
        alt=""
    />

    <div class="absolute inset-0 bg-black/30"></div>

    <div class="absolute inset-0 z-20 flex flex-col justify-end items-center pb-50">

        <h2
            class="text-white text-4xl font-light"
            style="font-family: 'Cormorant Garamond', serif;">
            DORÉ
        </h2>

        <p
            class="mt-3 text-white text-sm tracking-widest"
            style="font-family: 'Cormorant Garamond', serif;">
            © DORÉ, JOYEROS DESDE 1970
        </p>

        
        <div class="mt-30 w-full flex justify-end pr-20 text-white text-sm font-light tracking-widest" style="font-family: 'Cormorant Garamond', serif; font-weight: 100; letter-spacing: 0.15em;">

    <div class="flex gap-20">

        <div>
            <h3 class="mb-3 font-thin">Pedidos</h3>
            <p>Métodos de pago</p>
            <p>Opciones de envio</p>
            <p>Devoluciónes</p>
            <p>Guía de tallas </p>
        </div>

        <div>
            <h3 class="mb-3 font-light">Preguntas frecuentes</h3>
            <p>¿Se hacen piezas a medida?</p>
            <p>¿Ofrecemos mantenimiento a las piezas?</p>
            <p>¿Se usa oro puro?</p>
            <p>¿La pureza del diamante es verdadera?</p>
        </div>

    </div>

</div>
</div>
</div>