---
import bgVideo from "../assets/video/bg.mp4";
---

<div class="relative h-screen overflow-hidden">
    <video
        class="absolute inset-0 w-full h-full object-cover"
        src={bgVideo} autoplay muted loop playsinline
    ></video>
    <div class="absolute inset-0 bg-black/30"></div>

    <div class="absolute bottom-24 left-32 z-10">

        <h2 class="text-white  text-9xl font-style-cursive text-center" style="font-family: 'Cormorant Garamond', serif;">
            DORÉ
        </h2>

        <p class="mt-4 text-white text-2xl" style="font-family: 'Cormorant Garamond'">
            El lujo que trasciende generaciones.
        </p>
    </div>
</div>